<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: Arial, Helvetica, sans-serif;
  background-color: white;
 
}
* {box-sizing: border-box;}

.main{
    padding:35px;
    margin:auto;
    margin-top:50px;
    max-width: 600px;
    align-items:center;
    border-radius: 10px;
    box-shadow: 0px 30px 50px 0px rgba(255, 8, 8, 0.2);

    background-color: rgb(255, 255, 255);
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;

}

.icon {
  padding: 10px;
  background: #E60000;
  color: white;
  min-width: 50px;
  text-align: center;
  border-radius: 6px;
  margin-right: 15px;

}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 5px;

}

.input-field:focus {
  border: 2px solid #E60000;
}

/* Set a style for the submit button */
.btn {
  background-color: #E60000;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  border-radius: 5px;
  font-size:18px;
  margin-left: 150px;
}
.btn2 {
  margin-left: 150px;

  background-color: #156329;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  border-radius: 3px;
  font-size:18px

}

.btn:hover {
  opacity: 1;
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #fff800 0%,
    #7a1010 29%,
    #ff1361 67%,
    #E60000 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
      text-align: center;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
</style>
</head>
<body>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center" style="text-align: center;">
        <h1 style="display: inline-block; color: #E60000; text-align: center; margin-right:5px ;">Welcome to <h3 class="animate-charcter">APNASHOES</h3></h1>
      </div>
    </div>
  </div>
<form action="/user-register" class="main" method="post">
  <h2 style="text-align: center;">Registration Form</h2>
  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" placeholder="Username" name="name">
  </div>

  <div class="input-container">
    <i class="fa fa-envelope icon"></i>
    <input class="input-field" type="text" placeholder="Email" name="email">
  </div>
  
  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field" type="password" placeholder="Password" name="password">
  </div>

  <div class="input-container">
    <i class="fa fa-mobile icon"></i>
    <input class="input-field" type="number" placeholder="Mobile" name="number">
  </div>

  <button type="submit" class="btn">Register</button>
   
 
  <a href="/userLogin" style="display: block; text-align: center; margin-top: 10px;">Already a member.</a>
</form>

</body>
</html>
